<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
</head>
<body>
    <h1>Menú de Tests</h1>
    <ul> 
        <li><a href={% url 'test:video_feed' %}> Test de stream de video</a></li>
        <li><a href={% url 'test:captures' %}> Test de capturas</a></li>
        <li><a href={% url 'test:captures_results' %}> Resultados de tests de capturas</a></li>
        <li><a href="../"> Menú Principal</a></li>
    </ul>
    
</body>
</html>