<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Experimentos</title>
</head>
<body>
    <h1>Lista de Experimentos</h1>

    <ul>
        {% for x in experimentos %}
        <li>
            <a href="{% url 'experimentos:ver_experimento' x.id %}"> {{x.nombre}}</a>: {{x.status}}
        </li>
        {% endfor %}
    </ul>




</body>
</html>