<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados</title>
</head>
<body>
    <h1>Resultados {{experimento.nombre}}</h1>
    {% for x in lista %}
    
    <div class="caption">
        <p>Fecha: {{ x.0.fecha }}</p>
        <p>Germinadas: {{ x.2.germinadas }}</p>
        <p>No germinadas: {{ x.2.no_germinadas }}</p>
    </div>
    
    <img display="inline-block" src="{{ x.0.photo.url }}">
    <img display="inline-block" src="{{ x.1.mask.url }}">

    
    
    {% endfor %}


</body>
</html>